html,
body {
    width: auto;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
}


/*==============================
-------------header-------------
===============================*/

.main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #000000;
    color: #ffffff;
}

.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    width: 940px;
}

.main-navigator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 700px;
}

.main-navigator a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 23px 20px 27px;
    -webkit-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

.main-navigator a:hover {
    background: #242424;
}
.active {
    position: relative;
}

.active::before {
    position: absolute;
    bottom: 0;
    right: 20px;
    left: 20px;
    display: block;
    content: "";
    height: 4px;
    background: white;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
}

.active a:hover,
.active a:active {
    background: black;
}

a.index {
    width: 140px;
    padding: 0;
    background-color: black;
    background-image: url("../img/Logo_header.png");
    background-repeat: no-repeat;
    background-position: center;
}

a.index:hover {
    background-color: black;
    background-image: url("../img/Logo_header.png");
    background-repeat: no-repeat;
    background-position: center;
}


.main-navigator li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
}


.main-navigator ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}


.user-block {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.login {
    position: relative;
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
    padding: 23px 20px 27px;
    padding-left: 50px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.login::before {
    content: " ";
    position: absolute;
    top: 24px;
    left: 20px;
    width: 18px;
    height: 17px;
    background: transparent url("../img/icons.png") no-repeat -43px -16px;
    opacity: 0.3;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.user-block a:hover {
    background: #242424;
}
.login:hover::before {
opacity: 1;
}

/*==============================
-------------index--------------
===============================*/

.index-body {
    background: #000000 url("../img/background_image.jpg") no-repeat center top;
}

.index-main {
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}


.index-logo {
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
    background-image: url("/img/index_logo.png") no-repeat;
    margin-top: 57px;
}

.index-logo img {
    width: 368px;
    height: 204px;
}

.features {
    width: 100%;
    margin-bottom: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}

.features-item {
    width: 300px;
    text-align: center;
}

.features-name {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 30px;
    padding-bottom: 35px;
    margin-top: 0;
}

.features-name::after {
    display: block;
    position: absolute;
    left: 50%;
    bottom: -5px;
    content: "";
    background: #ffffff;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.features-item p {
    margin: 10px;
    margin-bottom: 0;
}

.index-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 50px 80px;
    margin-bottom: 35px;
    color: #000000;
    background: 
        url("../img/shadow.png") no-repeat center,
        #f4f1ee url("../img/texture1.png");

}
.index-content-left {
    width: 380px;
    margin-right: auto;

}
.index-content-right {
    width: 300px;
}

.news-preview {
    margin-bottom: 34px;
}

.news-preview li {
    margin-left: -40px;
    list-style: none;
}

.news-preview p {
    margin-bottom: 0;
}

.news-preview time {
    text-transform: lowercase;
}

.index-content-title {
    font-size: 30px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 25px;
}

.gallery {
    position: relative;
    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;
}

.gallery-content img {
    background: gray;
    border: 5px solid white;
}

.btn {
    display: inline-block;
    background: #000000;
    color: #f4f1ee;
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0;
    cursor: pointer;
    padding: 10px 33px;
    vertical-align: top;
    text-align: center;
    margin-right: 16px;
    font-weight: bold;
    font-family: "PT Sans Narrow", "Arial", sans-serif;    
}

.btn:active,
.btn:hover {
    background: #663d15;
}



.gallery-prev,
.gallery-next {
    font: inherit;
}

.gallery .btn {
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.adress {
    margin-right: 10px;
}

.oppointment-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.oppointment-form input {
    background: #f9f6f3;
    border: 2px solid black;
    font: inherit;
    text-transform: uppercase;
    color: #000000;
    padding: 7px 15px;
    margin-bottom: 20px;
    width: 106px;
}
.oppointment-form input:focus {
    border: 2px solid #663d15;
    outline: none;
}


.submit {
    width: 100%;
    font: inherit;
    margin-right: 0;
}

/*Окно логина*/
.modal-content {
    display: none;
    position: fixed;
    z-index: 20;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: 120px;
    left: 50%;
    width: 300px;
    margin-left: -230px;
    padding: 50px 80px;
    color: black;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
            box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    background: #f4f1ee url("../img/texture1.png");
}

.modal-content-show {
    display: block;
}

.modal-content-close {
    position: absolute;
    top: 0;
    right: -24px;
    font-size: 0;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
}

.modal-content-close::after, 
.modal-content-close::before {
    position: absolute;
    display: block;
    content: "";
    width: 23px;
    height: 4px;
    border-radius: 1px;
    background: #d0d0d0;
    top: 8px;
    left: -1px;
}
.modal-content-close::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.modal-content-close::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.login-form input[type="text"],
.login-form input[type="password"] {
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    color: black;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    width: 241px;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 15px;
    padding-right: 40px; 
    border: 2px solid black;
    background: #f9f6f3;   
}

.login-form input:focus {
    border-color: #663d15;
}


.icon-user::after {
    position: relative;
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    background: #f9f6f3 url("../img/icons1.png") no-repeat 0 -258px;
    top: -42px;
    left: 270px;
}
.icon-user::before {
    position: relative;
    display: block;
    content: "";
    width: 15px;
    height: 17px;
    background: #f9f6f3 url("../img/icons1.png") no-repeat 0 -273px;
    top: 104px;
    left: 270px;
}

.modal-content h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
    
}

.modal-content p {
    margin: 0;
    font-size: 14px;
}

.login-checkbox {
    float: left;
    width: 50%;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.login-checkbox:hover {
    color: #663d15;
}

.login-checkbox input[type="checkbox"] {
    display: none;
}


.login-checkbox::before {
    content:"";
    position: absolute;
    display: block;
    top: -3px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid black;
}


.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 3px;
    width: 15px;
    height: 2px;
    background: black;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.restore {
    color: black;
    float: right;
    margin-bottom: 15px;
}



.login-form .btn {
    width: 100%;
}

/*--------------------*/

/*----------карта-----------*/
.modal-content-map {
    display: none;
    width: 766px;
    height: 560px;
    background: #e9e5dc url("../img/map.png");
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 20;
    margin-top: -280px;
    margin-left: -390px;
    border: 7px solid white;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
            box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
/*-------------------------*/


/*==============================
------------footer--------------
===============================*/

.main-footer {
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    background: #262626;
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #242424 url("../img/texture_footer.png");
}

.inner-footer {
    -webkit-box-shadow: inset 0 30px 40px -15px black;
            box-shadow: inset 0 30px 40px -15px black;    
}

.footer-contacts {
    width: 310px;
    margin-right: 90px;
}

.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 140px;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
    text-align: center;
    vertical-align: top;
}

.social-icons {
    width: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.social-btn {
    display: block;
    width: 43px;
    height: 43px;
    text-decoration: none;
    background: black url("../img/icons1.png") no-repeat;
    background-position: 0 -43px;
}

a.social-btn-vk {
    background-position: 0 -172px;
    -webkit-transition: all 0.01s;
    -o-transition: all 0.01s;
    transition: all 0.01s;
}

a.social-btn-vk:hover,
a.social-btn-vk:active {
    background-color: white;
    background-position: 0 -215px;
}

a.social-btn-fb {
    background-position: 0 -129px;
    -webkit-transition: all 0.01s;
    -o-transition: all 0.01s;
    transition: all 0.01s;
}

a.social-btn-fb:hover,
a.social-btn-fb:active {
    background-position: 0 -86px;
    background-color: white;
}

a.social-btn-inst {
    -webkit-transition: all 0.01s;
    -o-transition: all 0.01s;
    transition: all 0.01s;
}

a.social-btn-inst:hover,
a.social-btn-inst:active {
    background-position: 0 0;
    background-color: white; 
}

.footer-copyright {
    margin-left: 260px;
    width: 140px;
}

.footer-copyright p {
    margin-top: 0;
    text-align: center;
    vertical-align: top;
    padding: 0;
    margin-bottom: 20px;
}

.footer-copyright .btn {
    width: 74px;
}
.footer-copyright .btn:hover,
.footer-copyright .btn:active {
    background: white;
    color: black;
}

/*==============================
-------------price--------------
===============================*/
.inear-page {
    background: #f4f1ee url("../img/texture1.png");
}

/*Основное и сетка*/
.inear-main {
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.price-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.price-content-right,
.price-content-left {
    width: 49%;
}

.price-content-left *:first-child,
.price-content-right *:first-child {
    margin-top: 0;
}

.price-content-left *:last-child,
.price-content-right *:last-child {
    margin-bottom: 0;
}



.price-content h2 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 30px;
}

.price-content p {
    margin: 14px 0;
}

.price-content table {
    border-collapse: collapse;
}

.price-content td {
    padding: 10px 15px;
    border: 2px solid black;
}
/*---------------------------------*/

/*Заголовок и хлебные крошки*/
.price-page-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 52px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 160px;
    margin-bottom: 55px;
}

.price-page-title h1 {
    color: black;
    text-align: top;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 0px;
    margin-top: 0;
}

.breadcrumbs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 18px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0px;
    padding: 0;
    width: 100%;
}

.breadcrumbs li {
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    vertical-align: top;
}

.current {
    margin-right: 8px;
    color: #aba9a7;
}

.breadcrumbs li:first-child {
    padding-right: 30px;
    position: relative;
}

.breadcrumbs li:first-child::before {
    position: absolute;
    top: 9px;
    left: 62px;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: black;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.breadcrumbs a {
    text-decoration: none;
    color: black;
}
/*--------------------------*/

/*Основной центральный заголовок*/
.big-heading {
    width: 100%;
}

.big-heading h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    margin-bottom: 65px;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
}

.big-heading h2::after,
.big-heading h2::before {
    content: "";
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 50px;
    height: 2px;
    background: black;
}

.big-heading h2::before {
    margin-right: 25px;
}

.big-heading h2::after {
    margin-left: 25px;
}
/*--------------------------*/

/*Список средств*/

.price-content-right h2 {
    width: 100%;
}


.custom-list-1 {
    margin: 14px 0;
    list-style: none;
    padding: 0;
}

.custom-list-1 li {
    margin-bottom: 15px;
    padding-left: 20px;
    position: relative;
}

.custom-list-1 li::before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: 8px;
    left: 0px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background: black;
}
/*--------------------------*/

/*Таблица*/


.price-table {
    width: 100%;
}

.price-table td {
    width: 50%;
}

.price-table td:last-of-type {
    text-align: center;
}
/*--------------------------------*/

/*Нижние абзацы*/
.price-content-right p {
    margin-top: 120px;
}

.price-content:last-child h2 {
    width: 100%;
}

.short-text {
    padding-right: 80px;
}

/*---------------------------------------*/

/*==============================
-------------item---------------
===============================*/

/*сетка*/
.item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}
/*----------------------------------*/

/*хлебные крошки*/
.item-page-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 52px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 630px;
    margin-bottom: 55px;
}

.item-page-title h1,
.shop-page-title h1 {
    color: black;
    text-align: top;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 0px;
    margin-top: 0;
}

.breadcrumbs-item,
.breadcrumbs-shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 18px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0px;
    padding: 0;
    width: 100%;
}

.breadcrumbs-item li,
.breadcrumbs-shop li {
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    vertical-align: top;
}

.breadcrumbs-item,
.breadcrumbs-shop {
    margin-right: 8px;
    color: #aba9a7;
}

.breadcrumbs-item li:not(:last-child),
.breadcrumbs-shop li:not(:last-child) {
    padding-right: 30px;
    position: relative;
}

.breadcrumbs-item li:not(:last-child)::before,
.breadcrumbs-shop li:not(:last-child)::before {
    position: absolute;
    top: 9px;
    left: 62px;
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: black;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.breadcrumbs-item li:nth-child(2)::before,
.breadcrumbs-shop li:nth-child(2)::before {
    left: 65px;
}

.breadcrumbs-item li:nth-child(3)::before {
    left: 135px;
}

.breadcrumbs a,
.breadcrumbs-item a,
.breadcrumbs-shop a {
    text-decoration: none;
    color: black;
}
/*----------------------------------*/

/*галерея*/
.item-content-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 460px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.gallery-main {
    width: 460px;
    height: 500px;
}

.gallery-main img {
    margin-top: -14px;
    margin-left: -40px;
    -webkit-box-shadow: 0 0 15px 5px #e4e2df;
            box-shadow: 0 0 15px 5px #e4e2df;
}

.gallery-both {
    width: 460px;
    height: 149px;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.gallery-both a {
    display: block;
    width: 140px;
    height: 149px;
    -webkit-box-shadow: 0 0 15px 5px #e4e2df;
            box-shadow: 0 0 15px 5px #e4e2df;
}

.gallery-left {
    background: gray url("../img/gallery-left.png") no-repeat;
}
.gallery-center {
    background: gray url("../img/gallery-center.png") no-repeat;
}
.gallery-right {
    background: gray url("../img/gallery-right.png") no-repeat;    
}
/*----------------------------------*/

/*Описание товара*/
.item-content-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 22px 10px;
}

.article-product {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 34px;
}

.article-product span {
    font-size: 14px;
    line-height: 24px;
}

.article-product span:last-child {
    color: #aeaeae;
}

.about-product {
    margin: 0;
    padding: 0;
    width: 385px;
    margin-bottom: 38px;
}

.pruduct-buy {
    width: 100%;
    height: 43px;
    background: #e5e5e5;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.product-buy span {
    display: inline-block;
    background: #e5e5e5;
    width: 111px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0;
    color: black;
    box-shadow: 3px 0 2px 0 #e5e5e5;

}

.buy-btn {
    display: inline-block;
    padding: 12px 18px;
    margin: 0;
    color: white;
}

.product-composition h2 {
    margin: 0;
    padding: 0;
    margin-top: 67px;
    margin-bottom: 38px;
}

.product-composition ul {
    margin: 0;
    padding: 0;
    padding-left: 21px;
}

.product-composition li {
    list-style: none;
    position: relative;
    margin-bottom: 4px;
}

.product-composition li::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    background: black;
    top: 8px;
    left: -20px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
/*----------------------------------*/


/*==============================
--------------shop--------------
===============================*

/*Хлебные крошки*/
main.shop-main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.shop-page-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 52px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-bottom: 55px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.breadcrumbs-shop {
    width: 300px;
}
/*-----------------------------*/

/*форма*/
.shop-content-left {
    width: 170px;
}

.brands ,
.groups {
    border: none;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.brands {
    margin-bottom: 35px;
}

.groups {
    margin-bottom: 25px;
}

.brands legend,
.groups legend {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 30px;
}

.brands input,
.groups input {
    display: none;
}

.brands label,
.groups label {
    padding-left: 43px;
    line-height: 18px;
    margin-bottom: 17px;
    position: relative;
    cursor: pointer;
}

.brands label::before,
.groups label::before {
    position: absolute;
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid black;
    left: 0px;
    top: -2px;
}

.brands input[type="checkbox"]:checked + span::before,
.brands input[type="checkbox"]:checked + span::after {
    position: absolute;
    display: block;
    content: "";
    width: 16px;
    height: 2px;
    background: black;
    top: 7px;
    left: 2px;
}

.brands input[type="checkbox"]:checked + span::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.brands input[type="checkbox"]:checked + span::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.groups label::before {
    border-radius: 50%;
}

.groups input[type="radio"]:checked + span::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 6px;
    background: black;
}




/*карточка товаров*/
.shop-content-right {
    width: 700px;
    padding-left: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.shop-item {
    width: 220px;
    height: 286px;
    background: white;
    -webkit-box-shadow: 0 0 10px 5px #e4e2df;
            box-shadow: 0 0 10px 5px #e4e2df;
    margin-bottom: 20px;
}

.shop-item:hover,
.shop-item:active {
    -webkit-box-shadow: 0 0 10px 5px #cac8c6;
            box-shadow: 0 0 10px 5px #cac8c6;
}

.shop-item a {
    text-decoration: none;
    color: black;
}

.shop-item h3 {
    font-size: 14px;
    line-height: 18px;
    vertical-align: top;
    padding: 0;
    margin: 0;
    text-transform: none;
    margin-left: 16px;
}

.shop-item h2 {
    font-size: 14px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
    margin-left: 16px;
}

.shop-item .product-buy {
    margin-left: 16px;
}

.shop-item .product-buy a {
    color: white;
}
/*------------------------------*/


/*Счетчик страниц*/
.page-marker {
    width: 193px;
    height: 43px;
    padding: 0;
    margin: 0;
    margin-left: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 45px;
    margin-bottom: -25px;
}

.page-marker a {
    display: inline-block;
    background: #000000;
    color: #f4f1ee;
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    letter-spacing: 0;
    cursor: pointer;
    padding: 12px 17px;
    vertical-align: top;
    text-align: center;
    font-weight: bold;
    font-family: "PT Sans Narrow", "Arial", sans-serif; 
}

.page-marker a:not(.active-page):active,
.page-marker a:not(.active-page):hover {
    background: #663d15;
}

a.active-page {
    background: white;
    color: black;
    cursor: default;
}


