html,
body {
    width: auto;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
    color: #ffffff;
    background: #000000 url("../img/background_image.jpg") no-repeat center top;
}


/*==============================
-------------header-------------
===============================*/

.main-header {
    padding-right: 10px;
    padding-left: 10px;
    background: #000000;
    color: #ffffff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
}

.main-navigator {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}

.main-navigator a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 25px 20px;
    transition: all 0.1s;
}
.main-navigator a:hover {
    background: #242424;
}

.main-navigator li {
    display: flex;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
}


.main-navigator ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
    display: flex;
}


.user-block {
    margin-right: auto;
    transition: all 0.3s;
}

.login {
    position: relative;
    color: #ffffff;
    display: inline-block;
    vertical-align: top;
    padding: 25px 20px;
    padding-left: 50px;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.login::before {
    content: " ";
    position: absolute;
    top: 28px;
    left: 20px;
    width: 18px;
    height: 17px;
    background: transparent url("../img/icons.png") no-repeat -43px -16px;
    opacity: 0.3;
    transition: all 0.3s;
}

.user-block a:hover {
    background: #242424;
}
.login:hover::before {
opacity: 1;
}

/*==============================
-------------index--------------
===============================*/

main {
    width: 940px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}


.index-logo {
    width: 368px;
    height: 204px;
    margin: 0 auto;
    margin-bottom: 25px;
    background-image: url("/img/index_logo.png") no-repeat;
    margin-top: 55px;
}

.index-logo img {
    width: 368px;
    height: 204px;
}

.features {
    width: 100%;
    margin-bottom: 80px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.features-item {
    width: 300px;
    text-align: center;
}

.features-name {
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 30px;
    padding-bottom: 35px;
    margin-top: 0;
}

.features-name::after {
    display: block;
    position: absolute;
    left: 50%;
    bottom: -5px;
    content: "";
    background: #ffffff;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    transform: rotate(45deg);
}

.features-item p {
    margin: 10px;
    margin-bottom: 0;
}

.index-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 50px 80px;
    margin-bottom: 35px;
    color: #000000;
    background: 
        url("../img/shadow.png") no-repeat center,
        #f4f1ee url("../img/texture1.png");

}
.index-content-left {
    width: 380px;
    margin-right: auto;

}
.index-content-right {
    width: 300px;
}
.news-preview li {
    margin-left: -40px;
    list-style: none;
}

.news-preview p {
    margin-bottom: 0;
}

.news-preview time {
    text-transform: lowercase;
}

.index-content-title {
    font-size: 30px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 25px;
}

.gallery {
    position: relative;
    height: 260px;
}

.gallery-content {
    height: 164px;
    margin: 0;
}

.gallery-content img {
    background: gray;
    border: 5px solid white;
}

.btn {
    display: inline-block;
    background: #000000;
    color: #f4f1ee;
    text-transform: uppercase;
    border: none;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: 0;
    cursor: pointer;
    padding: 10px 33px;
    vertical-align: top;
    text-align: center;
    margin-right: 16px;
}

.btn:active,
.btn:hover {
    background: #663d15;
}



.gallery-prev,
.gallery-next {
    font: inherit;
}

.gallery .btn {
    position: absolute;
    bottom: 0;
    width: 140px;
    margin: 0;
}

.gallery-prev {
    left: 0;
}

.gallery-next {
    right: 0;
}

.adress {
    margin-right: 10px;
}

..oppointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.oppointment-form input {
    background: #f9f6f3;
    border: 2px solid black;
    height: 39px;
    width: 136px;
    margin-top: 20px;
}


/*==============================
------------footer--------------
===============================*/

.main-footer {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    background: #262626;
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;
}

.footer-contacts {
    margin-left: auto;
    margin-right: 90px;
    background: fuchsia;
}

.footer-social {
    background: greenyellow;
}

.footer-copyright {
    margin-right: auto;;
    margin-left: auto;
    background: aqua;
}

/*==============================
-------------item---------------
===============================*/

